body {
    padding: 0;
    margin: 0;
    background: linear-gradient( #fefffc, #174fb6);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    min-height: 100vh;
}

.swiper-container {
    width: 100%;
    top: 15%;
    position: absolute;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 270px;
    height: 400px;
    background: #d11433b7;
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.swiper-slide .imgbox label {
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
}

.imgbox img {
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    height: 400px;
    width: 270px;
    z-index: -1;
}

.swiper-slide a {
    z-index: 1;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 5px;
}

nav {
    position: absolute;
    background-color: rgb(245, 238, 238);
    height: 50px;
    min-width: 100vw;
    box-shadow: 0 10px 150px #f59210;
}

nav>h3 {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    margin: auto;
    display: block;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.container {
    position: absolute;
    height: 50px;
    width: auto;
    padding: 0;
    margin: auto;
    left: 200px;
}

.container ul {
    padding: 0;
    display: flex;
    position: sticky;
}

.container li {
    list-style-type: none;
    height: 50px;
    width: 120px;
    overflow: hidden;
}

.container li>span {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
}

.container li>span:nth-child(1) {
    color: #0b0b0cb2;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 32px;
}

.container li:hover span {
    transform: translateY(-100%);
}

.container li>span:nth-child(2) {
    background-color: rgba(17, 13, 13, 0.493);
}

.container a {
    color: white;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header .container a {
    text-decoration: none;
    color: rgb(182, 195, 255);
}